<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header style="background-color: darkGrey; padding: 10px">
      <nav style="display: flex; justify-content: space-between">
        <a
          href=""
          style="
            margin: 0 auto;
            background-color: darkblue;
            color: white;
            padding: 10px;
            font-size: 20px;
            border-radius: 4px;
            margin-top: 10px;
          "
          >Home</a
        >
        <button
          style="
            margin: 0 auto;
            background-color: green;
            color: white;
            padding: 10px;
            font-size: 20px;
            border-radius: 4px;
            margin-top: 10px;
          "
        >
          <a href="/articles/new"> Add Articles </a>
        </button>
      </nav>
    </header>
  </body>
</html>
